.weather-wrapper {
   
   white-space: nowrap;
}

.degrees {
  font-size: 60px;
  font-weight: 900;
  font-style: normal;
  color: #181c24;
  margin: 0;
}
.heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15.4771px;
  line-height: 18px;
  color: #7441f3;
}
