.heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: white;
  padding-left: 30px;
}


.chart {
   opacity: 95%;
}
.button {
    color: white;
}
.temperature {
    color: white;
    font-style: normal;
font-weight: bold;
font-size: 85.4366px
}